asgiref==3.4.1
bcrypt==3.2.0
blis==0.7.5
catalogue==2.0.6
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
chumpy==0.70
click==8.0.1
cryptography==35.0.0
cycler==0.11.0
cymem==2.0.6
Cython==0.29.26
ecdsa==0.17.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
fastapi==0.68.2
ffmpeg==1.4
ffmpeg-python==0.2.0
filterpy==1.4.5
freetype-py==2.2.0
future==0.18.2
greenlet==1.1.2
h11==0.12.0
idna==3.3
imageio==2.10.1
importlib-metadata==4.8.1
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.3.2
langcodes==3.3.0
llvmlite==0.37.0
loguru==0.5.3
MarkupSafe==2.0.1
matplotlib==3.4.3
multi-person-tracker @ git+https://github.com/mkocabas/multi-person-tracker.git@2803ac529dc77328f0f1ff6cd9d36041e57e7288
munch==2.5.0
murmurhash==1.0.6
networkx==2.6.3
numba==0.54.1
numpy==1.19.0
opencv-python==4.3.0.36
packaging==21.3
pandas==1.3.5
passlib==1.7.4
pathy==0.6.1
Pillow==8.4.0
plyfile==0.7.4
preshed==3.0.6
pretrainedmodels==0.7.4
protobuf==3.19.1
pyaml==21.10.1
pyasn1==0.4.8
pycocotools==2.0.3
pycparser==2.20
pydantic==1.8.2
pyglet==1.5.21
pymesh2==0.3
PyOpenGL==3.1.0
pyparsing==3.0.4
pyrender==0.1.43
python-dateutil==2.8.2
python-jose==3.3.0
python-multipart==0.0.5
pytz==2021.3
PyWavelets==1.1.1
PyYAML==6.0
requests==2.27.1
rsa==4.7.2
scikit-image==0.16.2
scipy==1.5.2
six==1.16.0
smart-open==5.2.1
smplx==0.1.28
soft-renderer==1.0.0
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
SQLAlchemy==1.4.25
srsly==2.4.2
starlette==0.14.2
tensorboardX==2.4.1
thinc==8.0.13
torch==1.7.1+cu110
torchaudio==0.7.2
torchgeometry==0.1.2
torchvision==0.8.2+cu110
tqdm==4.62.3
transforms3d==0.3.1
trimesh==3.7.14
typer==0.4.0
typing-extensions==3.10.0.2
urllib3==1.26.8
uvicorn==0.15.0
wasabi==0.9.0
yolov3 @ git+https://github.com/mkocabas/yolov3-pytorch.git@d7192c9f6cec43f7db4bd91186b2c0401eafd5a6
zipp==3.6.0
